{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure    {:mvn/version "1.10.1"}
           duct/core              {:mvn/version "0.8.0"}
           duct/module.logging    {:mvn/version "0.5.0"}
           org.clojure/data.csv   {:mvn/version "1.0.0"}
           clojure.java-time      {:mvn/version "0.3.2"}
           hawk                   {:mvn/version "0.2.11"}
           io.replikativ/datahike {:mvn/version "0.3.1"}}
 :aliases {:dev     {:extra-paths ["dev/src" "dev/resources"]
                     :extra-deps  {integrant/repl {:mvn/version "0.3.1"}
                                   clj-http       {:mvn/version "3.10.1"}}}
           :test    {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.672"}}}
           :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "1.1.104"}}
                     :main-opts  ["-m" "hf.depstar.uberjar" "phoenix.jar"
                                  "-C" "-m" "hughpowell.co.uk.phoenix"]}}}
