{:duct.profile/base
 {:duct.core/project-ns hughpowell.co.uk.fire-for-effect

  :storage/path #duct/env "FIRE_FOR_EFFECT_STORAGE_PATH"
  :hughpowell.co.uk.cross-cutting-concerns.storage/connection {:storage {:backend :file
                                                                         :path #ig/ref :storage/path}}

  }

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/test  #duct/include "test"
 :duct.profile/prod  {}

 :hughpowell.co.uk.bank-of-scotland/module {}

 :duct.module/logging {}}
