{:hughpowell.co.uk.phoenix.cross-cutting-concerns.storage/connection {:storage {:backend :mem
                                                                                :id "test"}}
 :hughpowell.co.uk.phoenix.cross-cutting-concerns.transaction-importer/completion-channel {}
 :bank-of-scotland/input-path "test/data/bank-of-scotland/"}
