{:storage/path                                     [:duct/const]

 :hughpowell.co.uk.phoenix.bank-of-scotland/module [:duct/module]
 :bank-of-scotland/input-path                      [:duct/const]
 :bank-of-scotland/input-filter                    [:duct/const]

 :hughpowell.co.uk.phoenix.halifax/module          [:duct/module]
 :halifax/input-path                               [:duct/const]
 :halifax/input-filter                             [:duct/const]

 :hughpowell.co.uk.phoenix.nationwide/module       [:duct/module]
 :nationwide/input-path                            [:duct/const]
 :nationwide/input-filter                          [:duct/const]

 :hughpowell.co.uk.phoenix.santander/module        [:duct/module]
 :santander/input-path                             [:duct/const]
 :santander/input-filter                           [:duct/const]}
